.hero {
    margin: 15% 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    width: 200px;
    border-radius: 50%;
    margin-top: 60px;
}

.text-2xl {
    width: 50%;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: -20px;
}

.hero-p {
    width: 50%;
    text-align: center;
    line-height: 30px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 40px;
}

.hero-resume {
    padding: 10px 25px;
    outline: none;
    color: #fff;
    background: #1f1e1e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
}

.hero-resume:before {
    content: '';
    background: linear-gradient(45deg, #c3fc3c, #3cfc4c);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.hero-resume:active {
    color: #1f1e1e
}

.hero-resume:active::after {
    background: transparent;
}

.hero-resume:active::before {
    opacity: 1;
}

.hero-resume:hover::before {
    opacity: 1;
}

.hero-resume:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1f1e1e;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}